.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    /* border:1px solid black; */
}


/* Center */
.center{
    width: 100%;
    display: flex;
    max-height: 90vh;
    overflow-y: scroll;
    border-right: .25px solid lightgray;
    flex-direction: column;
}
.search{
    display: flex;
    width:80%;
    align-self: center;
    align-items: center;
    padding-left: 10px;
    margin-top: 40px;
    position: relative;
}

.search input{
    background-color: rgb(244, 240, 240);
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 10px 10px 10px 50px;
    font-size: 17px;
    border-radius: 10px;
    color: gray;
    border:.5px solid gray
}

.search-results{
    text-align: left;
    margin-left: 10%;
}

.search-results p{
    color:gray 
}


.search-results span{
    font-weight: bold;
    color:black 
}

.search-icon{
    position: absolute;
    left:25px;
    color: gray;
}

.close-icon{
    position: absolute;
    right:15px;
    color: gray;
}

.sort{
    display: flex;
    align-items: center;
    align-self: center;
    /* justify-content: space-between; */
    flex-direction: row;
    width:80%;
    gap:30px
   
}

.sort-pill{
    background-color: white;
    border: .5px solid gray;
    width:100px;
    height:30px;
    padding: 5px;
    color: gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    color: white;
    background-color: #47a259;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid gray;
    width:100px;
    height:30px;
    padding: 5px;
}


/* Sidebar */
.right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-filter{
    /* margin-left: 60px; */
    display: flex;
    align-items: center;
    width: 29%;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: .25px solid lightgray;
}

.filter{
    margin-left: -100px;
    font-weight: bold;
}

.filter-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: -10px;
    cursor: pointer;
}


.categories-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -40px;
}
.categories{
    font-weight: bold;
    margin-top: 20px;
}

.others{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: -15px;
    flex-direction: row;
    gap:5px
}

.price-range{
    display: flex;
    flex-direction: column;
}

.price-range-title{
    font-weight: bold;
    margin-top: 30px;
}

.top-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap:20px
}

.bottom-button{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47a259;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.min{
    height: 35px;
    width: 80px;
    border: .5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: lightgray;
    /* background-color: rgb(240, 231, 231); */
}

.price{
    height: 35px;
    width: 80px;
    border: .5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.rating{
    margin-top: 20px;
}

.rating p{
    margin-left: 5px;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    color:#47a259;
    margin-right: 5px;
}

.footer-banner{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 170px;
    width: 200px;
    background-color: #00441f;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    margin-bottom: 50px;
}

.footer-banner h3{
    text-align: center;
}

.footer-banner p{
    margin-top: -2px;
}

.footer-banner button{
    background-color: #e69c32;
    color: black;
    border:none;
    padding:10px;
    width: 75%;
    border-radius: 6px;
}


