.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .25px solid lightgray;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap:80px;
    cursor: pointer;
}

.underline{
    height: 2px;
    width: 8px;
    color: #47a259;
    margin-top: 10px;
}

.header-title{
    font-weight: bold;
    margin-left: 40px;
}

.icons-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap:30px
}

.icons-right img{
    height:26px;
    width: 26px;
    border-radius: 50%;
    border: 2px solid #e69c32;
}

.cart{
    position: relative;
}

.cart p{
    position: absolute;
    top:2px;
    right:-1px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: #e28b8f;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}